rtcVideoContainer { display: block; }
.rtcVideoContainer .mute { 
	color: #FFF;
	cursor: pointer;
	display: block;
	font-size: 30px;
	position: absolute;
	right: 5px;
	text-decoration: none;
	top: 10px;
}
.rtcVideoContainer .mute:hover,
.rtcVideoContainer .mute.muted {
	color: red;
}

#remoteVideos video { cursor: pointer; }